<!-- layouts/shortcodes/tooltip.html -->
{{ $text := .Get 0 }}
{{ $tooltip := .Get 1 }}

<span class="tooltip-container">{{ $text | markdownify }}<span class="tooltip-content">{{ $tooltip | markdownify }}</span></span>

<style>
.tooltip-container {
  position: relative;
  display: inline;
  border-bottom: 1px dotted #666;
  cursor: help;
}

.tooltip-content {
  visibility: hidden;
  width: 200px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 0px;
  border: 1px solid #000;
  padding: 10px;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.9em;
  line-height: 1.4;
  white-space: normal;
}

.tooltip-container:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}
</style>
