/* Cascadia Mono */
@font-face {
  font-family: 'Cascadia Mono';
  src: url('/fonts/cascadia_mono/CascadiaMono.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Mono';
  src: url('/fonts/cascadia_mono/CascadiaMonoItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Mono NF';
  src: url('/fonts/cascadia_mono/CascadiaMonoNF.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Comic Mono */
@font-face {
  font-family: 'Comic Mono';
  src: url('/fonts/comic_mono/ComicMono.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Mono';
  src: url('/fonts/comic_mono/ComicMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Departure Mono */
@font-face {
  font-family: 'Departure Mono';
  src: url('/fonts/departure_mono/DepartureMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Fira Code */
@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/firacode/FiraCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/firacode/FiraCode-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/firacode/FiraCode-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* IBM Plex Mono */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/ibmplex_mono/IBMPlexMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/ibmplex_mono/IBMPlexMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Iosevka Curly Slab */
@font-face {
  font-family: 'Iosevka Curly Slab';
  src: url('/fonts/iosevkacurlyslab/IosevkaCurlySlab-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Iosevka Curly Slab';
  src: url('/fonts/iosevkacurlyslab/IosevkaCurlySlab-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Iosevka Curly Slab';
  src: url('/fonts/iosevkacurlyslab/IosevkaCurlySlab-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* JetBrains Mono */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains_mono/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains_mono/JetBrainsMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains_mono/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* JGS7 */
@font-face {
  font-family: 'JGS7';
  src: url('/fonts/jgs7/jgs7.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Pixel Code */
@font-face {
  font-family: 'Pixel Code';
  src: url('/fonts/pixel_code/PixelCode.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Code';
  src: url('/fonts/pixel_code/PixelCode-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Code';
  src: url('/fonts/pixel_code/PixelCode-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Code';
  src: url('/fonts/pixel_code/PixelCode-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Code';
  src: url('/fonts/pixel_code/PixelCode-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Code';
  src: url('/fonts/pixel_code/PixelCode-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Code';
  src: url('/fonts/pixel_code/PixelCode-Thin-Italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Victor Mono */
@font-face {
  font-family: 'Victor Mono';
  src: url('/fonts/victor_mono/VictorMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Victor Mono';
  src: url('/fonts/victor_mono/VictorMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Font feature settings for code ligatures */
.code-font-ligatures {
  font-variant-ligatures: normal;
  font-feature-settings: "calt" 1, "liga" 1;
}

/* Disable ligatures */
.code-font-no-ligatures {
  font-variant-ligatures: none;
  font-feature-settings: "calt" 0, "liga" 0;
}